[init]
	defaultBranch = main
[status]
	short = true
[user]
	email = 37932436+hydr0nium@users.noreply.github.com 
	name = Sol
[merge]
	tool = nvimdiff2
[push]
	autoSetupRemote = true
[mergetool]
	keepBackup = false
